body {
  margin: 0;
  color: #f0e2ba;
  background-color: #7d1013;
  font-family: Walter Turncoat;
}

.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}


a {
  color: #f0e2ba;
  text-decoration: none;
}

.buttonIMG {
    position: absolute;
    top: calc(30vh - 100px);
    left: calc(30vw);
    width: 40vw;
    min-width: 200px;
    z-index: 0
}
  
.intro {
    position: absolute;
    top: calc(30vh - 80px);
    left: calc(45vw);
    font-family: 'Courier New', monospace;
    z-index: 1;
}

.notebox {
  padding: 20px;
  margin: 10px;
  background-color: white;
  float: left;
  font-family: Walter Turncoat;
  border-radius: 10px;
  height: 200px;
}

.lucy {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#video {
  margin: 20vw 20vw 0px 20vw;
  width: 60vw;
  height: 40vw;
}

#nextbutton {
  width: 100%;
}

#nextbutton a {
  display: block;
  font-size: 15vw;
  text-decoration: none;
  color: whitesmoke;
  width: 100%;
  text-align: center;
}

#nextbutton:hover a {
  color: rgb(122, 198, 122)
}

